<div class="col-sm-12" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="add">



    <form  th:action="@{/add}" method="post" action="/add">

        <input type="text" placeholder="type" name="plate"/>
        <select th:each="typ : ${type}" name="carType">
            <option  value="default">Select a type</option>
            <option  th:text="${typ.getType()}" th:value="${typ.getType()}">

                <!--<input type="hidden" name="carType" th:value="${typ.getType()}"/>-->
            </option>
        </select>

        <input type="text" placeholder="model" name="model"/>
        <input type="text" placeholder="price" name="price"/>
        <input type="text" placeholder="amortization" name="amortization"/>

        <button type="submit" class="btn btn-sm btn-success">create</button>
    </form>



</div>
</html>

<!--private String model;-->
<!--private String carType;-->
<!--private float price;-->
<!--private float amortization;-->
<!--<tr th:each="car : ${cars}">-->
    <!--<td th:text="${car.getId()}"></td>-->
    <!--<td th:text="${car.getCarTypes().getType()}"></td>-->
    <!--<td th:text="${car.getModel()}"></td>-->
    <!--<td th:text="${car.getPrice()}"></td>-->
    <!--<td th:text="${car.getAmortization()}"></td>-->

