<div class="col-sm-12" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="add">


    <button type="button" class="btn btn-primary btn-lg float-right mb-5" onclick="window.location.href='/admin/type'"> <i class="fas fa-user"></i> Add car type </button>

    <form  th:action="@{/add}" method="post" action="/add">

        <input type="text" placeholder="plate" name="plate"/>
        <select  name="carType">
            <option  value="default">Select a type</option>
            <option th:each="typ : ${type}"  th:text="${typ.getType()}" th:value="${typ.getType()}">

                <!--<input type="hidden" name="carType" th:value="${typ.getType()}"/>-->
            </option>
        </select>

        <input type="text" placeholder="model" name="model"/>
        <input type="text" placeholder="price" name="price"/>
        <input type="text" placeholder="amortization" name="amortization"/>

        <button type="submit" class="btn btn-sm btn-success">create</button>
    </form>





</div>
</html>



