<div class="col-sm-12" xmlns:th="http://www.thymeleaf.org">
    <table class="table table-dark" th:fragment="tableadmin">
        <tr>
            <th>plate</th>
            <th>type</th>
            <th>model</th>
            <th>price</th>
            <th>amortization</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getPlate()}"></td>
            <td th:text="${car.getCarType()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getPrice()}"></td>
            <td th:text="${car.getAmortization()}"></td>

            <td><form th:action="@{/update}" action="update" th:object="${car}" method="post">
                <div class="form-group">
                    <input type="hidden" th:value="${car.getPlate()}" name="plate">
                    <input type="hidden" th:value="${car.getCarType()}" name="carType">
                    <input type="hidden" th:value="${car.getModel()}" name="model">
                    <input type="hidden" th:value="${car.getPrice()}" name="price">
                    <input type="hidden" th:value="${car.getAmortization()}" name="amortization">

                    <button class="btn btn-sm btn-success" type="submit"
                            style="margin: 0.2em; width: 60px; float: left">update
                    </button>
                </div>
            </form>
            </td>

            <td><form th:action="@{/delete}" action="update" th:object="${car}" method="post">
                <div class="form-group">
                    <input type="hidden" th:value="${car.getPlate()}" name="plate">
                    <input type="hidden" th:value="${car.getCarType()}" name="carType">
                    <input type="hidden" th:value="${car.getModel()}" name="model">
                    <input type="hidden" th:value="${car.getPrice()}" name="price">
                    <input type="hidden" th:value="${car.getAmortization()}" name="amortization">

                    <button class="btn btn-sm btn-danger" type="submit"
                            style="margin: 0.2em; width: 60px; float: left">delete
                    </button>
                </div>
            </form>
            </td>

            <!--<td><form th:action="@{/delete}" action="delete" th:object="${car}" method="post">-->
                <!--<div class="form-group">-->
                    <!--<input type="hidden" th:value="${car.getBrand()}" name="brand">-->
                    <!--<input type="hidden" th:value="${car.getModel()}" name="model">-->
                    <!--<input type="hidden" th:value="${car.getPower()}" name="power">-->
                    <!--<input type="hidden" th:value="${car.getPlate()}" name="plate">-->

                    <!--<button class="btn btn-sm btn-danger" type="submit"-->
                            <!--style="margin: 0.2em; width: 60px; float: left">delete-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
            <!--</td>-->
        </tr>
    </table>

    <table class="table table-dark" th:fragment="tableuser">
        <tr>
            <th>plate</th>
            <th>type</th>
            <th>model</th>
            <th>price</th>
            <th>amortization</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getPlate()}"></td>
            <td th:text="${car.getCarType()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getPrice()}"></td>
            <td th:text="${car.getAmortization()}"></td>


        </tr>
    </table>

    <table class="table table-dark" th:fragment="tabletype">
        <tr>
            <th>type</th>
        </tr>
        <tr th:each="t : ${type}">
            <td th:text="${t.getType()}"></td>
        </tr>
    </table>
</div>





